body{
    background-image: url(/img/5073414.jpg); /* Fundo preto */
    image-resolution: from-image;
    margin: 0;
    padding: 0;
    background-size: cover;
}
h1{
    color: #ffd700;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
}
.container{
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
    color: #fff;    
    background-color: transparent;
}
.form{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(3, 3, 3, 0.39);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 217, 0);
    transition: background-color 0.3s ease;
}
.form input, form button{
    width: 100%;
    padding: 10px;
    border: 2px solid #ffd700;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    max-width: 330px;
}
form input:focus, form button:hover{
    border-color: #fff;
    background-color: #333;
}
form button{
    cursor: pointer;
    font-weight: bold;
}
form button:hover{
    background-color: #ffd700;
    color: #000;
}
form button:active{
    background-color: #ffcc00;
    color: #000;
}
form p{
    text-align: center;
    font-size: 0.9rem;
    color: #000000;
}
form p a{
    color: #ffd700;
    text-decoration: none;
}
form button a{
    color: #ffffff;
    text-decoration: none;
}
form button a:hover{
    color: #000;
    text-decoration: underline;
    transform: scale(1.05);
}